{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Artikel | Change Password{% endblock title %}

{% block content %}
<div>
    <div class="w-full max-w-screen-xl mx-auto px-6">
      <div class="lg:flex -mx-6">
          <div class="pt-24 pb-16 lg:pt-28 lg:ml-16 w-full">
                <div class="px-4 py-4 bg-white shadow-md rounded-lg">
                    <p class="text-center text-2xl font-medium my-6 text-gray-400">Change Password</p>
                    <form method="post">{% csrf_token %}
                        <div class="text-center">
                            <div class="mb-4">
                                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Old Password</p>{{form.old_password|add_class:"form-control"}}
                            </div>
                            <div class="mb-4">
                                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">New Password</p>{{form.new_password1|add_class:"form-control"}}
                            </div>
                            <div class="mb-4">
                                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Confirm Password</p>{{form.new_password2|add_class:"form-control"}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}