.form-control{
    box-shadow:  0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-radius: 0.25rem;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: rgb(109, 107, 107);
    line-height: 1;
    appearance: none;
}

.form-control:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.form-tlp{
    box-shadow:  0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-radius: 0.25rem;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: rgb(109, 107, 107);
    line-height: 1;
    appearance: none;
}

.form-tlp:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.form-comment{
    box-shadow:  0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-radius: 0.25rem;
    width: 50%;
    height: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: rgb(109, 107, 107);
    line-height: 1;
    appearance: none;
}

.form-comment:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}


iframe{
    width: 30em;
}