<div class="hidden fixed inset-0 pt-16 h-full bg-white z-90 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5">
    <div id="navWrapper" class="h-full overflow-y-auto scrolling-touch lg:h-auto lg:block lg:relative lg:sticky lg:top-16 bg-white lg:bg-transparent">
        <div class="hidden" style="background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));"></div>
        <div class="px-6 pt-6 overflow-y-auto text-base lg:text-sm lg:py-12 lg:pl-6 lg:pr-8 sticky?lg:h-(screen-16)">
            <nav class="px-6 pt-6 overflow-y-auto text-base lg:text-sm lg:py-12 lg:pl-6 lg:pr-8 sticky?lg:h-(screen-16)">
                <div class="relative -mx-2 w-24 mb-8 lg:hidden">
                    <select class="appearance-none block bg-white pl-2 pr-8 py-1 text-gray-500 font-medium text-base focus:outline-none focus:text-gray-800">
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500">

                        </div>
                    </select>
                </div>
                <div class="mb-4">
                    <a href="" alt="" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
                        <span class="ml-3">Kita</span>
                    </a>
                    
                </div>
            </nav>
        </div>
    </div>
</div>